/* COLORES
verde #27ad60
azul #2c3e50
naranjo barras #e67e22
cafe #8f5f38
gris oscuro #443e44
gris claro #c1c1c1
green hover what we do #2a7257
*/

* {
	font-family: 'Roboto';
}

header, .portada, .what, .awesome, footer {
	background-color: $back-verde;
	padding: 30px 0px;
	color: white;
}

.color {
	color: black;
	padding: 30px 0px;
	hr {
		width: 250px;
		border: 1px solid black;
		background-color: 1px solid black;
	}
}

.about, .best, .clients, .contacto {
	background-color: $back-azul;
	padding: 30px 0px;
	color: white;
}


.separador {
	width: 250px;
	text-align: center;
	border: 1px solid white;
	background-color: 1px solid white;
}

.btn {
	background-color: #443e44;
	&:hover {
		background-color: $orange;
	}
}



/* Logo y Nav */
header {
	padding-bottom: 15px;
	nav {
		background-color: transparent;
		box-shadow: none;
	}
}


/* Imagen Portada */
.portada {
	background-image: url(../img/carousel-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 30px;
	h1 {
		font-size: 60px;
	}
	p {
		font-size: 30px;
	}
}


/* Color Palette */

@mixin cuadrado ($color) {
	width: 150px;
	height: 100px;
	display: inline-block;
	background-color: $color;
}

.azulino {@include cuadrado (#69D2E7);}
.celeste {@include cuadrado (#A7DBDB);}
.crudo {@include cuadrado (#E0E4CC);}
.naranjo {@include cuadrado (#F38630);}
.fanta {@include cuadrado (#FA6900);}
.rosa {@include cuadrado (#E94C6F);}
.cafe {@include cuadrado (#542733);}
.gris {@include cuadrado (#5A6A62);}
.verdoso {@include cuadrado (#C6D5CD);}
.amarillo {@include cuadrado (#FDF200);}
.rojo {@include cuadrado (#DB3340);}
.calabaza {@include cuadrado (#E8B71A);}
.crema {@include cuadrado (#F7EAC8);}
.verde {@include cuadrado (#1FDA9A);}
.azul {@include cuadrado (#28ABE3);}
.verdoso {@include cuadrado (#588C73);}
.platano {@include cuadrado (#F2E394);}
.mandarin {@include cuadrado (#F2AE72);}
.pomelo {@include cuadrado (#D96459);}
.vino {@include cuadrado (#8C4646);}
.olivo {@include cuadrado (#D0C91F);}
.ciano {@include cuadrado (#85C4B9);}
.deepazul {@include cuadrado (#008BBA);}
.rojado {@include cuadrado (#DF514C);}
.rojored {@include cuadrado (#DC403B);}


/* About Us */
.about {
	img {
		width: 80%;
		height: auto;
	}
}

/* What we do */
.what {
	.icon-image {
		width: 120px;
		height: 120px;
		text-align: center;
		margin: 0 auto;
		padding-top: 10px;
		background-image: url(../img/icon-bg.png);
	}
	.item-box {
		padding: 20px 20px;
		display: block;
		hr.hidden {
			display: none;
		}
	}
	.item-box:hover {
		background-color: #2a7257;
		cursor: pointer;
		h4 {
			color: $orange;
		}
		hr.hidden {
			display: block;
			border: 1px solid white;
			background-color: 1px solid white;
		}
	}
}

/* Awesome Team */
.awesome {
	h6 {
		color: black;
		font-size: 12px;
	}
	img {
		width: 60%;
		height: auto;
	}
	.dashed {
		border: 1px dashed #c1c1c1;
		background-color: 1px dashed #c1c1c1;
	}
	.texto-gris {
		color: #c1c1c1;
		padding: 0px 10px;
	}
	.iconos {
		font-size: 18px;
		color: #c1c1c1;
		.fa {
			margin-right: 10px;
		}
	}
}

/* Best Price */

/* Clients Say */
.clients {

	.autor {
		color: $orange;
	}
}

/* Contacto */

/* Sociales */
.sociales {
	background-image: url(../img/img-divider-img.jpg);
	background-size: cover;
	background-repeat: repeat;
	text-align: center;
	font-size: 100px;
	color: white;
	padding: 100px 0px;
}

/* Footer */
footer {
	p {
		display: inline;
		color: #443e44;
	}
	a {
		color: white;
	}
}